In [1]:
import SAR
import arcplot
import midi2nmat as m2n

# **Step 1: Import the midi file and convert it to a note matrix (nmat)**

**We do this with:**
```
path = "../Data/song.mid"
nmat = m2n.midi2nmat(path)
```

In [2]:
path = "../Data/Fugue-BWV-847.mid"
nmat = m2n.midi2nmat(path)

#### **"nmat" is now a matrix containing the onset, duration, pitch, and voice channel of each note in the piece**

In [3]:
nmat

     Duration Pitch Ticks    Time Type Velocity Voice
0    0.235417    79   NaN     8.5  NaN       64     0
1    0.235417    78   NaN    8.75  NaN       64     0
2    0.472917    79   NaN       9  NaN       64     0
3    0.472917    72   NaN     9.5  NaN       64     0
4    0.472917    75   NaN      10  NaN       64     0
5    0.235417    79   NaN    10.5  NaN       64     0
6    0.235417    78   NaN   10.75  NaN       64     0
7    0.472917    79   NaN      11  NaN       64     0
8    0.472917    81   NaN    11.5  NaN       64     0
9    0.472917    74   NaN      12  NaN       64     0
10   0.235417    79   NaN    12.5  NaN       64     0
11   0.235417    78   NaN   12.75  NaN       64     0
12   0.472917    79   NaN      13  NaN       64     0
13   0.472917    81   NaN    13.5  NaN       64     0
14   0.235417    72   NaN      14  NaN       64     0
15   0.235417    74   NaN   14.25  NaN       64     0
16   0.947917    75   NaN    14.5  NaN       64     0
17   0.235417    74   NaN    15.5  NaN       64     0
18   0.235417    72   NaN   15.75  NaN       64     0
19   0.472917    70   NaN      16  NaN       64     0
20   0.235417    75   NaN    16.5  NaN       64     0
21   0.235417    74   NaN   16.75  NaN       64     0
22   0.472917    75   NaN      17  NaN       64     0
23   0.472917    67   NaN    17.5  NaN       64     0
24   0.472917    68   NaN      18  NaN       64     0
25   0.235417    77   NaN    18.5  NaN       64     0
26   0.235417    75   NaN   18.75  NaN       64     0
27   0.472917    77   NaN      19  NaN       64     0
28   0.472917    69   NaN    19.5  NaN       64     0
29   0.472917    70   NaN      20  NaN       64     0
..        ...   ...   ...     ...  ...      ...   ...
721  0.235417    51   NaN  101.25  NaN       64     2
722  0.235417    50   NaN   101.5  NaN       64     2
723  0.235417    48   NaN  101.75  NaN       64     2
724  0.472917    47   NaN     102  NaN       64     2
725  0.235417    48   NaN   102.5  NaN       64     2
726  0.235417    47   NaN  102.75  NaN       64     2
727  0.472917    48   NaN     103  NaN       64     2
728  0.472917    43   NaN   103.5  NaN       64     2
729  0.472917    44   NaN     104  NaN       64     2
730  0.235417    48   NaN   104.5  NaN       64     2
731  0.235417    47   NaN  104.75  NaN       64     2
732  0.472917    48   NaN     105  NaN       64     2
733  0.472917    50   NaN   105.5  NaN       64     2
734  0.472917    43   NaN     106  NaN       64     2
735  0.235417    48   NaN   106.5  NaN       64     2
736  0.235417    47   NaN  106.75  NaN       64     2
737  0.472917    48   NaN     107  NaN       64     2
738  0.472917    50   NaN   107.5  NaN       64     2
739  0.235417    41   NaN     108  NaN       64     2
740  0.235417    43   NaN  108.25  NaN       64     2
741  0.947917    44   NaN   108.5  NaN       64     2
742  0.235417    43   NaN   109.5  NaN       64     2
743  0.235417    41   NaN  109.75  NaN       64     2
744  0.947917    39   NaN     110  NaN       64     2
745  0.472917    51   NaN   111.5  NaN       64     2
746  0.472917    50   NaN     112  NaN       64     2
747  0.472917    48   NaN   112.5  NaN       64     2
748  0.472917    55   NaN     113  NaN       64     2
749  0.472917    43   NaN   113.5  NaN       64     2
750   9.49792    48   NaN     114  NaN       64     2

[751 rows x 7 columns]

# Step 2: Find the patterns that we will plot

**We do this with:**
```
test = SAR.SAR_Contour(nmat)
```

In [4]:
test = SAR.SAR_Contour(nmat)

**"test" is now a dictionary containing a multitude of things, we are mainly interested in the "r" structure which is the final product of the search and rank algorithm after the redundant patterns have been removed**

In [6]:
test["r"]

,card,seg,segcount,segind,cov,invind,inds
0,6,"[2.0, 2.0, 2.0, 2.0, 1.0, 0.0]",15,"[39, 124, 285, 434, 501, 538, 546, 554, 562, 5...",90,[],"[39, 40, 41, 42, 43, 124, 125, 126, 127, 128, ..."
1,9,"[2.0, 2.0, 2.0, 2.0, 1.0, 0.0, 4.0, 3.0, 2.0]",10,"[39, 124, 285, 434, 546, 562, 570, 663, 679, 695]",90,[],"[39, 40, 41, 42, 43, 44, 45, 46, 124, 125, 126..."
2,5,"[2.0, 2.0, 2.0, 1.0, 0.0]",17,"[40, 125, 216, 286, 435, 502, 539, 547, 555, 5...",85,[],"[40, 41, 42, 43, 125, 126, 127, 128, 216, 217,..."
3,6,"[2.0, 1.0, 0.0, 4.0, 3.0, 2.0]",13,"[42, 127, 280, 288, 437, 478, 533, 549, 565, 5...",78,[],"[42, 43, 44, 45, 46, 127, 128, 129, 130, 131, ..."
4,7,"[2.0, 2.0, 1.0, 0.0, 4.0, 3.0, 2.0]",11,"[41, 126, 287, 436, 477, 548, 564, 572, 665, 6...",77,[],"[41, 42, 43, 44, 45, 46, 126, 127, 128, 129, 1..."
5,9,"[1.0, 3.0, 1.0, 2.0, 4.0, 0.0, 2.0, 1.0, 2.0]",8,"[4, 75, 164, 247, 267, 385, 520, 729]",72,[],"[4, 5, 6, 7, 8, 9, 10, 11, 75, 76, 77, 78, 79,..."
6,9,"[0.0, 1.0, 3.0, 1.0, 2.0, 4.0, 0.0, 2.0, 1.0]",8,"[3, 74, 163, 246, 266, 384, 519, 728]",72,[],"[3, 4, 5, 6, 7, 8, 9, 10, 74, 75, 76, 77, 78, ..."
7,9,"[1.0, 2.0, 4.0, 0.0, 2.0, 1.0, 2.0, 4.0, 0.0]",8,"[6, 77, 166, 249, 269, 387, 522, 731]",72,[],"[6, 7, 8, 9, 10, 11, 12, 13, 77, 78, 79, 80, 8..."
8,9,"[3.0, 0.0, 1.0, 3.0, 1.0, 2.0, 4.0, 0.0, 2.0]",8,"[2, 73, 162, 245, 265, 383, 518, 727]",72,[],"[2, 3, 4, 5, 6, 7, 8, 9, 73, 74, 75, 76, 77, 7..."
9,5,"[1.0, 0.0, 4.0, 3.0, 2.0]",14,"[43, 128, 212, 281, 289, 438, 479, 534, 550, 5...",70,[],"[43, 44, 45, 46, 128, 129, 130, 131, 212, 213,..."
10,8,"[2.0, 1.0, 2.0, 4.0, 0.0, 1.0, 4.0, 2.0]",8,"[10, 81, 170, 253, 273, 391, 526, 735]",64,[],"[10, 11, 12, 13, 14, 15, 16, 81, 82, 83, 84, 8..."
11,5,"[3.0, 2.0, 3.0, 0.0, 1.0]",12,"[20, 25, 30, 57, 180, 243, 263, 381, 422, 427,...",60,[],"[20, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 3..."
12,6,"[3.0, 2.0, 3.0, 0.0, 1.0, 3.0]",9,"[20, 25, 180, 243, 263, 381, 422, 616, 621]",54,[],"[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 180, ..."